# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# local env files
.env*.local
.env

# vercel
.vercel

# VS-Code
.vscode

# data folders
/products
/public/products
